@font-face {
    font-family: 'VT323';
    src: url("VT323.ttf") format('truetype');
    font-style: normal;
    font-weight: normal;
}

* {
    font-family: 'VT323';
    color:#c49000;
    text-shadow:1.5px 1.5px 5px #c4900047;
}

html {
    scroll-behavior: smooth;
    min-height: 100vh;
  }

body {
    background-image: url("GLaDOS_Chamber.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: 50% top;
}

.computer-container {
    position: absolute;
    height: 60%;
    width: 63.5%;
    top: 3.5%;
    left: 5%;
    background-color: #1e1f1f;
}

.chat {
    display: flex;
    gap: 10px;
    padding:10px;
    font-size:1em;
}

.message-box {
    height: calc(100vh - 5rem);
    overflow-y: auto;
}

.messagebar {
    position: fixed;
    bottom: 0;
    height: 5rem;
    width:60.5%;
    display:flex;
    align-items: left;
    justify-content: left;
    height:8%;
    padding:10px;
    bottom: 20%;
    background-color: #1e1f1f;
}
.messagebar .bar-wrapper {
    width:60vw;
    display:flex;
}
.messagebar button {
    align-items: center;
    align-content: center;
}
.bar-wrapper input {
    width:100%;
    border:none;
    outline:none;
    background:none;
}

.button {
    background-color: #161818;
    border-color: #0d0e0e;
    border-radius:5px;
    border-width: thick;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }
